
bin/Debug/net5.0-windows/ChessAI.pdb
bin/Debug/net5.0-windows/ChessAI.exe
bin/Debug/net5.0-windows/ChessAI.dll
bin/Debug/net5.0-windows/ChessAI.deps.json
bin/Debug/net5.0-windows/ChessAI.runtimeconfig.json
bin/Debug/net5.0-windows/ChessAI.runtimeconfig.dev.json
bin/Debug/net5.0-windows/ref/ChessAI.dll
bin0/Debug/net5.0-windows/ChessAI.deps.json
bin0/Debug/net5.0-windows/ChessAI.dll
*.exe
*.pdb
*.json
*.dll
*.props
*.targets
obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0-windows/ChessAI.AssemblyInfo.cs
obj/Debug/net5.0-windows/ChessAI.AssemblyInfoInputs.cache
*.cache
*.txt
*.editorconfig
obj/Release/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0-windows/ChessAI.AssemblyInfo.cs
